node_modules
**/*.dol
**/*.elf
**/*.d
**/*.map

PokecomChannel/**/build/

pokeemerald/*.exe
pokeemerald/*.o
pokeemerald/*.i
pokeemerald/*.elf
pokeemerald/*.gba
pokeemerald/!data/*.gba
pokeemerald/*.sgm
pokeemerald/*.sa1
pokeemerald/*.ss[0-9]
pokeemerald/*.sg1
pokeemerald/*.1bpp
pokeemerald/*.4bpp
pokeemerald/*.8bpp
pokeemerald/*.gbapal
pokeemerald/*.lz
pokeemerald/*.rl
pokeemerald/*.latfont
pokeemerald/*.hwjpnfont
pokeemerald/*.fwjpnfont
pokeemerald/sound/**/*.bin
pokeemerald/sound/songs/midi/*.s
pokeemerald/tools/agbcc
pokeemerald/*.map
pokeemerald/*.ld
pokeemerald/*.bat
pokeemerald/*.dump
pokeemerald/*.sa*
pokeemerald/Thumbs.db
pokeemerald/build/
pokeemerald/.DS_Store
pokeemerald/*.ddump
pokeemerald/.idea/
pokeemerald/porymap.*.cfg
pokeemerald/prefabs.json
pokeemerald/.vscode/
pokeemerald/*.a
pokeemerald/.fuse_hidden*
pokeemerald/*.sna
pokeemerald/*.diff
pokeemerald/*.sym
pokeemerald/*.js
pokeemerald/*.sav

pokeemerald/**/*.exe
pokeemerald/**/*.o
pokeemerald/**/*.i
pokeemerald/**/*.elf
pokeemerald/**/*.gba
pokeemerald/**/!data/*.gba
pokeemerald/**/*.sgm
pokeemerald/**/*.sa1
pokeemerald/**/*.ss[0-9]
pokeemerald/**/*.sg1
pokeemerald/**/*.1bpp
pokeemerald/**/*.4bpp
pokeemerald/**/*.8bpp
pokeemerald/**/*.gbapal
pokeemerald/**/*.lz
pokeemerald/**/*.rl
pokeemerald/**/*.latfont
pokeemerald/**/*.hwjpnfont
pokeemerald/**/*.fwjpnfont
pokeemerald/**/sound/**/*.bin
pokeemerald/**/sound/songs/midi/*.s
pokeemerald/**/tools/agbcc
pokeemerald/**/*.map
pokeemerald/**/*.ld
pokeemerald/**/*.bat
pokeemerald/**/*.dump
pokeemerald/**/*.sa*
pokeemerald/**/Thumbs.db
pokeemerald/**/build/
pokeemerald/**/.DS_Store
pokeemerald/**/*.ddump
pokeemerald/**/.idea/
pokeemerald/**/porymap.*.cfg
pokeemerald/**/prefabs.json
pokeemerald/**/.vscode/
pokeemerald/**/*.a
pokeemerald/**/.fuse_hidden*
pokeemerald/**/*.sna
pokeemerald/**/*.diff
pokeemerald/**/*.sym
pokeemerald/**/*.js
pokeemerald/**/*.sav
