/release
/old_releases
release.zip

node_modules
**/*.dol
**/*.elf
**/*.d
**/*.map

CelioServer/dist/

PokecomChannel/**/build/*

pokeemerald/*.exe
pokeemerald/*.o
pokeemerald/*.i
pokeemerald/*.elf
pokeemerald/*.gba
pokeemerald/!data/*.gba
pokeemerald/*.sgm
pokeemerald/*.sa1
pokeemerald/*.ss[0-9]
pokeemerald/*.sg1
pokeemerald/*.1bpp
pokeemerald/*.4bpp
pokeemerald/*.8bpp
pokeemerald/*.gbapal
pokeemerald/*.lz
pokeemerald/*.rl
pokeemerald/*.latfont
pokeemerald/*.hwjpnfont
pokeemerald/*.fwjpnfont
pokeemerald/sound/**/*.bin
pokeemerald/sound/songs/midi/*.s
pokeemerald/tools/agbcc
pokeemerald/*.map
pokeemerald/*.ld
pokeemerald/*.bat
pokeemerald/*.dump
pokeemerald/*.sa*
pokeemerald/Thumbs.db
pokeemerald/build/
pokeemerald/.DS_Store
pokeemerald/*.ddump
pokeemerald/.idea/
pokeemerald/porymap.*.cfg
pokeemerald/prefabs.json
pokeemerald/.vscode/
pokeemerald/*.a
pokeemerald/.fuse_hidden*
pokeemerald/*.sna
pokeemerald/*.diff
pokeemerald/*.sym
pokeemerald/*.js
pokeemerald/*.sav

pokeemerald/**/*.exe
pokeemerald/**/*.o
pokeemerald/**/*.i
pokeemerald/**/*.elf
pokeemerald/**/*.gba
pokeemerald/**/!data/*.gba
pokeemerald/**/*.sgm
pokeemerald/**/*.sa1
pokeemerald/**/*.ss[0-9]
pokeemerald/**/*.sg1
pokeemerald/**/*.1bpp
pokeemerald/**/*.4bpp
pokeemerald/**/*.8bpp
pokeemerald/**/*.gbapal
pokeemerald/**/*.lz
pokeemerald/**/*.rl
pokeemerald/**/*.latfont
pokeemerald/**/*.hwjpnfont
pokeemerald/**/*.fwjpnfont
pokeemerald/**/sound/**/*.bin
pokeemerald/**/sound/songs/midi/*.s
pokeemerald/**/tools/agbcc
pokeemerald/**/*.map
pokeemerald/**/*.ld
pokeemerald/**/*.bat
pokeemerald/**/*.dump
pokeemerald/**/*.sa*
pokeemerald/**/Thumbs.db
pokeemerald/**/build/
pokeemerald/**/.DS_Store
pokeemerald/**/*.ddump
pokeemerald/**/.idea/
pokeemerald/**/porymap.*.cfg
pokeemerald/**/prefabs.json
pokeemerald/**/.vscode/
pokeemerald/**/*.a
pokeemerald/**/.fuse_hidden*
pokeemerald/**/*.sna
pokeemerald/**/*.diff
pokeemerald/**/*.sym
pokeemerald/**/*.js
pokeemerald/**/*.sav

pokeemerald/.git
pokeemerald/.github

pokefirered/*.exe
pokefirered/*.o
pokefirered/*.i
pokefirered/*.elf
pokefirered/*.gba
pokefirered/!data/*.gba
pokefirered/*.sgm
pokefirered/*.sa1
pokefirered/*.ss[0-9]
pokefirered/*.sg1
pokefirered/*.1bpp
pokefirered/*.4bpp
pokefirered/*.8bpp
pokefirered/*.gbapal
pokefirered/*.lz
pokefirered/*.rl
pokefirered/*.latfont
pokefirered/*.hwjpnfont
pokefirered/*.fwjpnfont
pokefirered/sound/**/*.bin
pokefirered/sound/songs/midi/*.s
pokefirered/tools/agbcc
pokefirered/*.map
pokefirered/*.ld
pokefirered/*.bat
pokefirered/*.dump
pokefirered/*.sa*
pokefirered/Thumbs.db
pokefirered/build/
pokefirered/.DS_Store
pokefirered/*.ddump
pokefirered/.idea/
pokefirered/porymap.*.cfg
pokefirered/prefabs.json
pokefirered/.vscode/
pokefirered/*.a
pokefirered/.fuse_hidden*
pokefirered/*.sna
pokefirered/*.diff
pokefirered/*.sym
pokefirered/*.js
pokefirered/*.sav

pokefirered/**/*.exe
pokefirered/**/*.o
pokefirered/**/*.i
pokefirered/**/*.elf
pokefirered/**/*.gba
pokefirered/**/!data/*.gba
pokefirered/**/*.sgm
pokefirered/**/*.sa1
pokefirered/**/*.ss[0-9]
pokefirered/**/*.sg1
pokefirered/**/*.1bpp
pokefirered/**/*.1bpp
pokefirered/**/*.4bpp
pokefirered/**/*.8bpp
pokefirered/**/*.gbapal
pokefirered/**/*.lz
pokefirered/**/*.rl
pokefirered/**/*.latfont
pokefirered/**/*.hwjpnfont
pokefirered/**/*.fwjpnfont
pokefirered/**/sound/**/*.bin
pokefirered/**/sound/songs/midi/*.s
pokefirered/**/tools/agbcc
pokefirered/**/*.map
pokefirered/**/*.ld
pokefirered/**/*.bat
pokefirered/**/*.dump
pokefirered/**/*.sa*
pokefirered/**/Thumbs.db
pokefirered/**/build/
pokefirered/**/.DS_Store
pokefirered/**/*.ddump
pokefirered/**/.idea/
pokefirered/**/porymap.*.cfg
pokefirered/**/prefabs.json
pokefirered/**/.vscode/
pokefirered/**/*.a
pokefirered/**/.fuse_hidden*
pokefirered/**/*.sna
pokefirered/**/*.diff
pokefirered/**/*.sym
pokefirered/**/*.js
pokefirered/**/*.sav

pokefirered/.git
pokefirered/.github